@font-face {
    font-family: Space;
    font-style:  normal;
    font-weight: 700;
	src: url('../font/SM.TTF') format('truetype');
  }
  @font-face {
    font-family: Final;
    font-style:  normal;
    font-weight: 700;
	src: url('../font/Finalnew.ttf') format('truetype');
  }
  @font-face {
    font-family: Moltors;
    font-style:  normal;
    font-weight: 700;
	src: url('../font/Moltorv2.ttf') format('truetype');
  }
  body {
  background-color: #ffffcf;
  }
  h3 {
  margin: 0;
  padding: 0;
  }
#main {
max-width: 1000px;
margin: 0 auto 10px auto;
padding: 0;
border: 5px outset #fff;
background-color: #EAF4FF;
}
#contact {
margin: 10px;
text-align: right;
font-size:20px;
}
#header {
margin: 0 0 20px 0;
padding: 0;
}
#header h1 {
width: 500px;
text-align : center;
line-height : 40px;
font-size: 40px;
font-family: Space;
margin: 0 auto 0 auto;
padding: 0;
}
#menu {
width: 92%;
margin: 0 auto 5px auto;
padding: 5px;
background-color: #ffffcf;
border-radius: 30px;
border: 1px solid blue;
}
#menu ul {
width: 830px;
margin: 0 auto 0 auto;
padding: 0;
}
#menu li {
width: 150px;
height: 50px;
display: inline-block;
list-style: none;
border: 1px solid #222;
border-radius: 20px;
padding: 0;
margin: 0 7px 0 7px;
font-size: 28px;
text-align: center;
line-height: 45px;
background-color: #EAF4FF;
}
#menu li a {
color: #530;
text-decoration: none;
font-family: Final;
}
#menu li a:hover {
width: 100%;
height: 50px;
display: inline-block;
background-color: #222;
border-radius: 20px;
margin: 0;
padding: 0;
color: #fff;
}
#notice {
width: 70%;
margin: 0 auto 5px auto;
padding: 0;
text-align: center;
font-size: 25px;
color: #c11;
}
#message {
font-size: 20px;
color: #a00;
}
#center {
margin: 0 0 5px 0;
padding: 0;
}
#title {
width: 88%;
margin: 0 auto 5px auto;
padding: 10px 0 10px 40px;
font-size: 22px;
font-family: Space;
background-color: #ffffcf;
border-radius: 20px;
border : 1px solid blue;
}
#content {
width: 90%;
margin: 0 auto 0 auto;
padding: 10px;
text-align: justify;
font-size: 18px;
background-color: #ffffcf;
border-radius: 20px;
border: 1px solid blue;
}
#footer {
width: 92%;
margin: 10px auto 10px auto;
padding: 0;
background-color: #ffffcf;
border-radius: 20px;
font-family: Moltors;
border: 1px solid blue;
}
#footer ul {
width: 780px;
margin: 0 auto 0 auto;
padding: 0;
}
#footer li {
list-style: none;
display : inline;
line-height: 25px;
margin: 0 10px 0 10px;
}
#footer li a {
font-size: 12px;
color: #530;
text-decoration: none;
}
#footer li a:hover {
color: #000;
text-decoration: underline;
}
#footer p{
text-align: center;
margin: 5px;
padding: 0;
}
.box {
float: left;
width: 28%;
height: auto;
min-height: 550px;
background-color: #d1d1d1; 
margin: 1.5%;
padding: 1.1%;
text-align: justify;
}
.after-box{
clear: left;
}
#post {
  -moz-user-select: none;
  -webkit-user-select: none;
  /* this will work for QtWebKit in future */
  -webkit-user-drag: none;
}
@media screen and (max-width: 50em ) {
#main {
width: 98%;
}
#header h1{
width: 90%;
}
#menu ul {
width: 90%;
}
#menu li {
width: 98%;
height: 50px;
display: block;
list-style: none;
border: 1px solid #012;
border-radius: 20px;
padding: 0;
margin: 0 0 10px 0;
font-size: 28px;
text-align: center;
line-height: 45px;
}
#footer ul {
width: 80%;
}
#footer li {
list-style: none;
display : block;
margin: 0 auto 10px auto;
text-align: center;
}
.box {
width: 80%;
margin: 10px 5% 10px 5%;
padding: 10px 5% 10px 5%;
font-size: 28px;
}
}

#lead_button {
width: 300px; margin: 5px auto 5px auto; padding: 10px; border: 1px solid gray; border-radius: 20px; text-align: center;
}
#lead_button a {
text-decoration: none;
color: #a11;
font-size: 25px;
}
#lead_button a:hover {
text-decoration: underline;
color: #111;
}